
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <style>
        /* Add your CSS styles here */
    </style>
</head>
<body>
    <h2>Registration Form</h2>
    <form action="register" method="post">
        {% csrf_token%}

        <label for="name">First name:</label>
        <input type="text" id="first_name" name="first_name" required><br><br>

        <label for="name">Last name:</label>
        <input type="text" id="last_name" name="last_name" required><br><br>

        <label for="name">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required><br><br>

        <input type="submit" value="Register">
    </form>

    <div>
        {%for message in messages%}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
</body>
</html> 